<!--采集信息-->
<!--http://www.51clm.com/hhcx/uat/estar-pic-yr/wx/wxAuth/check.do?ownerKey=2&attch=source:002,cmpUnits:01&authUrl=http://www.51clm.com/hhcx/uat/estar-pic-yr/wx/DR/shareholderCJ/index.htmlJINGHAO/CjIndex-->
<section class="messagePage">
    <!--<div class="msgHeaderImg"></div>-->
    <div class="inputMsg">
        <div class="userNm magBtm">
            <input type="text"
                   maxlength="15" class="placeholderColor"
                   ng-model="pageData.userInfo.name"
                   placeholder="姓名*"/>
            <img class="icon" src="./img/name-icon.png"/>
        </div>
        <!--<div class="carHint">参与享受用车服务必填</div>-->
        <div class="phoneNb magBtm">
            <input type="tel" class="placeholderColor inputTel"
                   maxlength="11"
                   ng-model="pageData.userInfo.phoneNb"
                   placeholder="手机号*"/>
            <img class="icon" src="./img/phone-icon.png"/>
            <div class="getCode" ng-class="{noMsg:noMsg}" ng-click="getCode()">{{codeText}}{{second}}</div>
        </div>
        <div class="yzCode magBtm">
            <input type="tel"
                   class="placeholderColor"
                   maxlength="4"
                   placeholder="输入验证码*"
                   ng-model="pageData.userInfo.yzCode"/>
            <img class="icon" src="./img/message-icon.png"/>
        </div>
        <div class="userCnb magBtm">
            <input type="text" maxlength="18" class="placeholderColor"
                   ng-model="pageData.userInfo.idCard"
                   ng-change="toUppercase()"
                   placeholder="身份证号*"/>
            <img class="icon" src="./img/idcard-icon.png"/>
        </div>
        <div class="userCmp magBtm">
            <input type="text" maxlength="18" class="placeholderColor"
                   ng-model="pageData.userInfo.cmpName"
                   ng-change="toUppercase()"
                   placeholder="公航旅/单位*"/>
            <img class="icon" src="./img/cmp-icon.png" style="top: 6vw;"/>
            <span class="info">此活动为公航旅企业员工专属福利，转发无效哦</span>
            <span class="info">您的信任，是我们提供专属福利的不竭动力</span>
        </div>
        <div class="carNub magBtm">
            <input type="text"  class="placeholderColor"
                   maxlength="8"
                   ng-change="inputCar()"
                   ng-model="pageData.userInfo.carNub"
                   placeholder="车牌号"/>
            <img class="icon" src="./img/chepai-icon.png" style="top: 6vw;" />
            <span class="info">了解多一点,只为向您提供更多专属服务和免费体验</span>
        </div>
        <div>
            <div class="getZx" ng-click="promptlyDraw()" style="margin-top: 6vw" ng-class="{noMsg:noSubmit}">提交</div>
        </div>
    </div>
</section>
